<template>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum maiores
      modi quidem veniam, expedita quis laboriosam, ullam facere adipisci,
      iusto, voluptate sapiente corrupti asperiores rem nemo numquam fuga ab at.
    </p>
    <p>
      Lorem 2 ipsum dolor sit amet, consectetur adipisicing elit. Harum maiores
      modi quidem veniam, expedita quis laboriosam, ullam facere adipisci,
      iusto, voluptate sapiente corrupti asperiores rem nemo numquam fuga ab at.
    </p>
  </div>
</template>

<script>
export default {};
</script>
