<template>
  <div class="trainings">
    <v-container class="my-5">
      <v-expansion-panels :multiple="true">
        <v-expansion-panel v-for="training in trainings" :key="training._id">
          <v-expansion-panel-header>
            {{ training.date.toLocaleString() }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div class="font-weight-bold">
              {{ training.duration + " h" }}
            </div>
            <v-btn
              text
              small
              color="error"
              @click="deleteTraining(training._id)"
            >
              Delete
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-form class="mt-5">
            <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date"
                  label="Date de l'entraînement"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                  required
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="date"
                @input="menu = false"
              ></v-date-picker>
            </v-menu>
            <v-text-field
              v-model="duration"
              label="Durée de l'entraînement"
              suffix="h"
              required
            ></v-text-field>
            <v-btn text @click="createTraining()">Add Training</v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import TrainingDao from "../TrainingDao";

export default {
  data() {
    return {
      trainings: [],
      date: new Date().toISOString().substr(0, 10),
      duration: 2,
      menu: false
    };
  },
  async created() {
    try {
      this.trainings = await TrainingDao.getTrainings();
      //alert(this.users[0]);
      //console.log(this.users[0]);
    } catch (err) {
      if (err.message != "Request failed with status code 500") {
        alert(err);
      }
    }
  },
  methods: {
    async createTraining() {
      alert(`Create training:\ndate: ${this.date}\ndurée: ${this.duration}`);
    },

    async deleteTraining(id) {
      await TrainingDao.deleteTraining(id);
      this.trainings = await TrainingDao.getTrainings();
    }
  }
};
</script>
