<template>
  <div class="users">
    <v-container class="my-5">
      <v-expansion-panels :multiple="true">
        <v-expansion-panel v-for="user in users" :key="user._id">
          <v-expansion-panel-header>
            {{ user.firstName + " " + user.lastName }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div class="font-weight-bold">{{ user.email }}</div>
            <div>{{ user.role }}</div>
            <v-btn text small color="error" @click="deleteUser(user._id)">
              Delete
            </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-form class="mt-5">
            <v-text-field
              v-model="firstName"
              label="First name"
              required
            ></v-text-field>
            <v-text-field
              v-model="lastName"
              label="Last name"
              required
            ></v-text-field>
            <v-text-field v-model="email" label="Email" required></v-text-field>
            <v-select
              v-model="role"
              label="Rôle"
              :items="roles"
              required
            ></v-select>
            <v-text-field
              v-model="username"
              v-if="role == 'trainer'"
              label="Username"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              v-if="role == 'trainer'"
              label="Password"
              required
            ></v-text-field>
            <v-select
              v-model="trainGroup"
              v-if="role == 'athlete'"
              :items="trainGroups"
              label="Groupe"
              required
            ></v-select>
            <v-btn text @click="createUser()">Add User</v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import UserDao from "../UserDao";

export default {
  data() {
    return {
      users: [],
      firstName: "Jean",
      lastName: "Lambert Hétault",
      email: "jean.lamberthetault@gmail.com",
      username: "jeanlh",
      password: "1234",
      roles: [
        { text: "Entraîneur", value: "trainer" },
        { text: "Athlete", value: "athlete" }
      ],
      trainGroups: [
        { text: "Sprint", value: "sprint" },
        { text: "Demi-fond", value: "demi-fond" },
        { text: "Multiple", value: "multiple" }
      ],
      role: "",
      trainGroup: "sprint"
    };
  },
  async created() {
    try {
      this.users = await UserDao.getUsers();
      //alert(this.users[0]);
      //console.log(this.users[0]);
    } catch (err) {
      if (err.message != "Request failed with status code 500") {
        alert(err);
      }
    }
  },
  methods: {
    async createUser() {
      var user = {};
      if (this.role == "trainer") {
        user = {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          username: this.username,
          password: this.password
        };
      } else if (this.role == "athlete") {
        user = {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          group: this.trainGroup
        };
      }

      await UserDao.createUser(user, this.role);
      this.users = await UserDao.getUsers();
    },

    async deleteUser(id) {
      await UserDao.deleteUser(id);
      this.users = await UserDao.getUsers();
    }
  }
};
</script>
