<template>
  <v-spacer />
  <!-- <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn text color="grey" v-on="on">
          <v-icon dark left>mdi-menu-down</v-icon>Menu
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(link, index) in links"
          :key="index"
          router
          :to="link.route"
        >
          <v-list-item-title>{{ link.text }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div> -->
</template>

<script>
export default {
  name: "AppBar",
  data: () => ({})
};
</script>
