<template>
  <v-list dense>
    <v-list-item
      v-for="(link, index) in links"
      :key="index"
      router
      :to="link.route"
      link
    >
      <v-list-item-action>
        <v-icon>{{ link.icon }}</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>{{ link.text }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  name: "NavDrawer",
  data: () => ({
    links: [
      { text: "Home", route: "/", icon: "mdi-home" },
      { text: "Users", route: "/users", icon: "mdi-account-multiple" },
      { text: "Trainings", route: "/trainings", icon: "mdi-calendar-text" }
    ]
  })
};
</script>

<style></style>
