<template>
  <v-app>
    <v-navigation-drawer app clipped v-model="drawer">
      <NavDrawer />
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Cab-App</v-toolbar-title>
      <AppBar />
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-footer app> </v-footer>
  </v-app>
</template>

<script>
import AppBar from "./components/AppBar";
import NavDrawer from "./components/NavDrawer";

export default {
  name: "App",

  components: {
    AppBar,
    NavDrawer
  },

  data: () => ({
    drawer: null
  }),

  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>
